#root {
    text-align: center;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    background-image: url("/assets/background.svg");
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    font-weight: 100;
}