@use "../utils/mixins";

footer {
    background-color: black;
    width: 100%;

    & > p {
        font-size: 1.2rem;
        
        & > a {
            color: white;
        }
    }
    
    & > .socials-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;
        
        & > a {
            width: 31px;
            height: 31px;
        }
    }
    
    @include mixins.for-desktop {
        & > p {
            font-size: 1.6rem;
        }

        & > .socials-container {
            & > a {
                width: 50px;
                height: 50px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}


#social-instagram {
    background-image: url("/assets/instagram.svg");
    background-position: center;
}

#social-twitter {
    background-image: url("/assets/twitter.svg");
    background-position: center;
}

#social-youtube {
    background-image: url("/assets/youtube.svg");
    background-position: center;
}

#social-facebook {
    background-image: url("/assets/facebook.svg");
    background-position: center;
}