@use "../utils/variables";
@use "../utils/mixins";

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
    & > h1 {
        text-shadow: variables.$normal-shadow;
        margin: 0;
    }

    & > p {
        text-shadow: variables.$normal-shadow;
        margin: 0;
    }

    @include mixins.for-phone-only {
        & > h1 {
            font-size: 2.5rem;
        }

        & > p {
            font-size: 1.5rem;
        }
    }
    
    @include mixins.for-phone-tablet-only {
        & > h1 {
            font-size: 3rem;
        }

        & > p {
            font-size: 2rem;
        }
    }

    @include mixins.for-desktop {
        & > h1 {
            font-size: 4.2rem;
        }

        & > p {
            font-size: 2.5rem;
        }
    }
}

.home-data {
    display: flex;
    justify-content: flex-end;
    
    @include mixins.for-phone-only {
        & > img {
            display: none;
        }
    
        & > .welcome-data {
            background-image: url("./assets/background-ellipse-mobile.svg");
            background-position-x: -25vw;
            background-position-y: -5vw;
            padding-top: 120px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            & > h1 {
                margin: 0;
                font-size: 2.5rem;
            }
        
            & > p {
                font-size: 1.5rem;
                margin: 0;
                width: 90%;
                margin-bottom: 25px;
            }
        
            & > ul {
                list-style-type: none;
                position: relative;
        
                & > li {
                    font-size: 1.5rem;
                    text-align: left;
                    margin-bottom: 20px;
                    width: 100%;
                }
        
                & > li::before {
                    content: url("./assets/list-bullet.svg");
                    position: absolute;
                    left: -50px;
                    width: 5px;
                }
            }
        }
    }

    @include mixins.for-phone-tablet-only {
        & > img {
            display: none;
        }
    
        & > .welcome-data {
            width: 8100;
            background-image: url("./assets/background-ellipse-desktop.svg");
            background-position-x: -5vw;
            background-position-y: -10vw;
            padding-top: 120px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            & > h1 {
                margin: 0;
                font-size: 2.5rem;
            }
        
            & > p {
                font-size: 1.5rem;
                margin: 0;
                width: 90%;
                margin-bottom: 25px;
            }
        
            & > ul {
                list-style-type: none;
                position: relative;
        
                & > li {
                    font-size: 1.5rem;
                    text-align: left;
                    margin-bottom: 20px;
                    width: 100%;
                }
        
                & > li::before {
                    content: url("./assets/list-bullet.svg");
                    position: absolute;
                    left: -50px;
                    width: 5px;
                }
            }
        }
    }

    @include mixins.for-desktop {
        & > img {
            display: block;
            width: 600px;
            margin-left: 5%;
        }
    
        & > .welcome-data {
            margin-left: 15%;
            width: 55%;
            background-image: url("/assets/background-ellipse-desktop.svg");
            background-repeat: no-repeat;
            padding-top: 180px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            & > h1 {
                margin: 0;
                font-size: 4rem;
            }
        
            & > p {
                font-size: 2.5rem;
                margin: 0;
                width: 90%;
                margin-bottom: 25px;
            }
        
            & > ul {
                list-style-type: none;
                position: relative;
                width: 80%;
        
                & > li {
                    font-size: 2.5rem;
                    text-align: left;
                    width: 50%;
                    margin-bottom: 20px;
                }
        
                & > li::before {
                    content: url("/assets/list-bullet.svg");
                    position: absolute;
                    left: 60px;
                    width: 5px;
                }
            }
        }
    }
}

.dev-info {
    background-image: url("/assets/myinfo-background.svg");
    padding: 15px;

    & > p {
        white-space: pre-line;
        margin: 0;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        text-shadow: variables.$normal-shadow;

        & > a {
            color: white;
        }
    }

    & > img {
        width: 122px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: variables.$normal-shadow;
    }

    @include mixins.for-desktop {
        display: flex;
        align-items: center;
        justify-content: center;

        & > p {
            font-size: 2rem;
            width: 30%;
        }

        & > img {
            margin-left: 60px;
            width: 200px;
        }
    }
}