@use "../utils/variables";
@use "../utils/mixins";

.song-view-container {
    min-width: 100%;
    min-height: 78.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    width: 83%;
    margin-top: 18px;
    position: relative;

    & > .suggested-songs {
        position: absolute;
        width: 100%;
        background-color: #00000074;
        position: absolute;
        left: 50%;
        top: 55px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height 0.3s ease, opacity 0.4s ease, transform 0.3s ease, visibility 0.3s;
        transform: translateX(-50%);
        overflow-y: scroll;

        & > div {
            width: 100%;
            margin: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            cursor: pointer;
            transition: background-color 0.2s ease, color 0.2s ease;

            & > div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-right: 5px;
            }

            & > img {
                width: 70px;
                margin-right: 10px;
            }

            & > p {
                margin: 0;
                margin-top: 5px;
                margin-right: 5px;
                text-align: left;
            }
        }

        & > div:hover {
            background-color: white;
            color: black;
        }
    }
    
    & > .suggested-songs.show {
        opacity: 1;
        visibility: visible;
        height: 40vh;
    }

    & > .search-box {
        position: relative;
        & > img {
            position: absolute;
            right: 18px;
            bottom: 10px;
        }
    
        & > input {
            background: #2d3b9a;
            background: linear-gradient(90deg, #2d3b9a 0%, #000000 100%);
            color: white;
            border: none;
            font-size: 1.2rem;
            width: 100%;
            box-sizing: border-box;
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 25px;
            padding-right: 50px;
            box-shadow: variables.$normal-shadow;
        }
    
        & > input::placeholder {
            color: white;
        }
    }

    @include mixins.for-desktop {
        & > .search-box {

            & > img {
                bottom: 12px;
                width: 25px;
            }

            & > input {
                font-size: 1.5rem;
            }
        }

        & > .suggested-songs {
            & > div {
                & > img {
                    width: 90px;
                }

                & > p {
                    font-size: 1.3rem;
                }
            }
        }

        & > .suggested-songs.show {
            height: 60vh;
        }
    }
}

.song-details {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #383838;
    background: linear-gradient(180deg, #383838 0%, #000000 100%);
    box-shadow: variables.$normal-shadow;
    display: flex;
    flex-direction: column;

    & > .song-stages {
        align-self: center;
        margin-bottom: 15px;
        & > tbody {
            & > tr {
                & > th {
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding: 5px;
                }

                & > td {
                    min-width: 100px;
                    padding: 5px;
                }
            }
        }
    }
    
    & > .song-title {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;

        & > span {
            font-size: 1.3rem;
            text-align: center;
        }
    }

    & > .basic-info {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        & > .song-tags {
            width: 47%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            & > span {
                margin-bottom: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                min-width: 100px;
                border-radius: 10px;
                box-shadow: variables.$normal-shadow;
            }
        }

        & > .song-image {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > img {
                width: 140px;
                margin-bottom: 10px;
            }

            & > span {
                font-size: 1.1rem;
            }
        }
    }

    @include mixins.for-desktop {
        & > .song-title {
            & > span {
                font-size: 1.6rem;
            }
        }

        & > .basic-info {
            

            & > .song-tags {
                width: 20%;
                & > span {
                    font-size: 1.3rem;
                    min-width: 150px;
                }
            }

            & > .song-image {
                width: 20%;
                & > img {
                    width: 200px;
                }

                & > span {
                    font-size: 1.3rem;
                }
            }
        }

        & > .song-stages {
            & > tbody {
                & > tr {
                    & > th {
                        font-size: 1.5rem;
                        min-width: 200px;
                    }

                    & > td {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

.normal-difficulty {
    & > .song-title {
        background: rgb(0,234,255);
        background: linear-gradient(90deg, rgba(0,234,255,1) 0%, rgba(21,19,47,1) 100%);
    }

    & > .basic-info {
        & > .song-image {
            & > img {
                box-shadow: 0px 0px 8px 1px #00eaff;
                border: 2px solid #00eaff;
            }
        }
    }

    & > .song-stages {
        & > tbody {
            & > tr {
                & > th {
                    box-shadow: 0px 0px 8px 1px #00eaff;
                    border: 2px solid #00eaff;
                }

                & > td {
                    box-shadow: 0px 0px 8px 1px #00eaff;
                    border: 1px solid #00eaff;
                }
            }
        }
    }
}

.hard-difficulty {
    & > .song-title {
        background: #ffcc00;
        background: linear-gradient(90deg, #ffcc00 0%, rgba(21,19,47,1) 100%);
    }

    & > .basic-info {
        & > .song-image {
            & > img {
                box-shadow: 0px 0px 8px 1px #ffcc00;
                border: 2px solid #ffcc00;
            }
        }
    }

    & > .song-stages {
        & > tbody {
            & > tr {
                & > th {
                    box-shadow: 0px 0px 8px 1px #ffcc00;
                    border: 2px solid #ffcc00;
                }

                & > td {
                    box-shadow: 0px 0px 8px 1px #ffcc00;
                    border: 1px solid #ffcc00;
                }
            }
        }
    }
}

.extreme-difficulty {
    & > .song-title {
        background: #ff0000;
        background: linear-gradient(90deg, #ff0000 0%, rgba(21,19,47,1) 100%);
    }

    & > .basic-info {
        & > .song-image {
            & > img {
                box-shadow: 0px 0px 8px 1px #ff0000;
                border: 2px solid #ff0000;
            }
        }
    }

    & > .song-stages {
        & > tbody {
            & > tr {
                & > th {
                    box-shadow: 0px 0px 8px 1px #ff0000;
                    border: 2px solid #ff0000;
                }

                & > td {
                    box-shadow: 0px 0px 8px 1px #ff0000;
                    border: 1px solid #ff0000;
                }
            }
        }
    }
}

.tag-extreme {
    background-color: #c90000;
}

.tag-rock {
    background-color: #ff0000;
}

.tag-hard {
    background-color: #ffc400;
}

.tag-dance {
    background-color: #bf00ff;
}

.tag-r\&b {
    background-color: #00c3ff;
}

.tag-alternative {
    background-color: #ff9900;
}

.tag-country {
    background-color: #935300;
}

.tag-deluxe {
    background-color: #ff9900;
}

.tag-normal {
    background-color: #00eaff;
}

.tag-pop {
    background-color: #ff00c8;
}

.tag-hip-hop {
    background-color: #3700ff;
}

.normal-display {
    background-color: #00eaff75;
}

.hard-display {
    background-color: #ffcc0078;
}

.extreme-display {
    background-color: #ff000074;
}